*{
  margin: 0;
}

.app{
  background-color: white;
  height: 100vh;
}

.app__posts{
  display: flex;
  justify-content: space-between;  
  padding: 20px;
}

/* @media only screen and (max-width: 80px) {
  .app__posts{
    padding: 10px;
  }
} */


.app__postsRight{
  margin-left: 20px;
}


.app__headerImage{
  width: 150px;
  background-color: white;
  object-fit: contain;
}

.app__header{
  position: sticky;  
  top: 0;
  z-index: 1;
  background-color: #f6f6f6;
  object-fit: contain;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__signup{
  display: flex;
  flex-direction: column;
  text-align: center;
}

  